<div class="background-container">

    <div class="welcome-top-bar">
        <p class="familiar-p">Are you new here?</p>
        <a routerLink="/signup">Sign up</a>
    </div>

    <h1 class="above-form-text">Welcome back! </h1>
    
    <div class="login-form">
        
        <form>

            <h1> Log in </h1>
            
            <input type="email" class="form-control" id="floatingInput" placeholder="Email">
            
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            
            <div class="form-check">
                
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label">
                    Remember me
                </label>
                
            </div>
            
            <button class="log-in-btn btn" type="submit">Log in</button>
            
        </form>
    </div>
</div>