<p>show-clothes-modal works!</p>


 <div *ngIf="(loadedDatabaseFiles$ | async) as files; else loadingContent">

     <div *ngFor="let dbFile of files">
         <img [src]="displayImage(dbFile.data)" alt="dbFile.filename"> 
        </div>
</div>

<ng-template #loadingContent>
  Loading files...
</ng-template>

<!-- ovo odmah ispod je div za svaki komad odece zasebno -->
<div>
    <div class="sell-check-div" *ngIf="isSeller">
        <input type="checkbox" id="show-clothes-modal-div" class="show-clothes-modal" />
        <label class="check-label" for="show-clothes-modal-div"> Sell </label>
    </div>
</div>
