.signup-form{
    background-color: #fab2ac;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-control{
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 80%px;
    border-radius: 10px;
}

.sign-up-btn{
    width: 80%;
    align-self: center;
}
