p{
    margin: 10px;
    align-self: center;
    text-align: center;
}

.modal-container{
    font-size: large;
    display: flex;
    flex-direction: column;
}

.add-clothes-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.form-group, .modal-buttons{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.modal-buttons{
    justify-content: space-between;
}

.clothes-modal-button{
    height: 30px;
    width: 70px;
    font-size: initial;
    border-radius: 10px;
}

.save{
    background-color: #fab2ac;
}

label{
    margin-right: 10px;
}

.image-preview{
    width: 80px;
}