<!-- <img src="assets/images/background-gradient.png" alt="Welcome" class="welcome-image">  -->

<div class="welcome-container background-container">

    <div class="welcome-top-bar">
        <p class="familiar-p">Familiar with us?</p>
        <a routerLink="/login">Log in</a>
    </div>

    <h1 class="welcome-main">Welcome</h1>

    <div class="welcome-sub">
        <h2 class="welcome-sub1">to your</h2>
        <h2 class="welcome-sub2"> virtual closet</h2>
    </div>

    <div class="welcome-hook">
        <div class="welcome-paragraph-div">
    
            <p class="welcome-paragraph">Come out of the closet and reduce the daily decision fatigue by keeping it all in one place. 
                <br>
                Find your own formulas and save your time and energy while effortlessly looking your best.
                <br>
                Fun to use. Easily accessible. Always organized. 
            </p>
        </div>

        <div class="welcome-button-div">
            <button class="btn welcome-button" type="submit" routerLink="/signup">Start now!</button>
        </div>

    </div>

</div>