<div class="shop-page background-container">

    <div class="home-top-bar">
        <div class="home-page-nav">
            <a routerLink="/home">Home</a>
        </div>
    </div>

    <div class="content-container">

        <div *ngIf="(currentUser$ | async) as currentUser">
            
            <div class="shop-image-collection" *ngIf="currentUser.role=='Seller'">
                <!-- svoju odecu na prodaju vidi samo prodavac -->

                <!-- e trenutno je problematicno to sto sam ucitala u selectClothesInStore i odecu 
                od svih ostalih korisnika kada neko nije prodavac, tako da vise ne ispada currentUserClothes
                i to ce morati da se izmeni tako da se ili tudja odeca cuva negde drugde ili da se
                pamte i podaci o korisniku u ovom state a to deluje dobro, znaci id i korisnicko ime,
            koje nekako treba da uklopim u svaki iz niza dto kada se ucitaju korisnici, a inace ce biti
                curr user id + username-->
                <p>My clothes for sale:</p>
                
                <div class="shop-image-cont" *ngIf="(currentUserClothes$ | async) as currUserClothes">


                    <div class="shop-image-div" *ngFor="let item of currUserClothes">
                        <img class="shop-image" src="assets/clothes/{{item.clothesType}}/{{item.filename}}" alt="image" />
                    </div>

                    <div *ngIf="currUserClothes.length==0">
                        <p class="empty-p">
                            You have no items for sale at the moment.
                        </p>
                    </div>
                </div>
        
            </div>
        </div>

        <div class="shop-image-collection" >
            <p>Users are selling:</p>

            <div class="shop-image-cont" *ngIf="(otherUsersClothes$ | async) as otherUserClothes">


                <div class="shop-image-div" *ngFor="let item of otherUserClothes" >
                    <img class="shop-image" src="assets/clothes/{{item.clothesType}}/{{item.filename}}" alt="image" />

                </div>

                <div *ngIf="otherUserClothes.length==0">
                    <p class="empty-p">
                        The shop is currently empty.
                    </p>
                </div>

            </div>
        
        </div>

    </div>
</div>